[2021-10-01 20:19] SubhayanDas08 opened #32 "Add in minor development projects to the repository"
#Proposed Task

Any minor development project that is available for open sourcing can be added to the repo for open source contributions.

#Why is this important?

It helps in open sourcing your project and inviting outside collaborators to contribute to the project.

#Which all tech stack can it be from?
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Node.js
* [x] Golang
* [x] React.js
* [x]

[2021-10-01 20:23] SubhayanDas08 opened #33 "Add in documentation to 7 Segment Display project"

[2021-10-01 20:30] SubhayanDas08 opened #34 "Add in documentation to Block-Manupulation project"

[2021-10-01 20:34] SubhayanDas08 opened #35 "Add in documentation to Calculator project"

[2021-10-01 20:35] SubhayanDas08 opened #36 "Add in documentation to Covid Tracker project"

[2021-10-01 20:37] SubhayanDas08 opened #37 "Add in CONTRIBUTING.md to Desktop-Weather-App project"

[2021-10-01 20:39] SubhayanDas08 opened #38 "Add in documentation to DiceGame project"

[2021-10-01 20:40] SubhayanDas08 opened #39 "Add in documentation to Drum Kit project"

[2021-10-01 20:45] SubhayanDas08 opened #40 "Add in documentation to Heath App project"

[2021-10-01 20:48] SubhayanDas08 opened #41 "Add in CONTRIBUTING.md to KnowU Personality Test App project"

[2021-10-01 20:52] SubhayanDas08 opened #43 "Add in CONTRIBUTING.md to Meme generator project"

[2021-10-01 20:53] SubhayanDas08 opened #44 "Add in CONTRIBUTING.md to Music_Player project"

[2021-10-01 20:55] SubhayanDas08 opened #45 "Add in documentation to Quiz web app project"

[2021-10-01 20:59] SubhayanDas08 opened #46 "Add in documentation to Rock Paper Scissors project"

[2021-10-01 20:59] RahulSharma4329 commented on #45
Can you please assign this to me i want to work on this @SubhayanDas08

[2021-10-01 21:00] SubhayanDas08 opened #47 "Add in documentation to TinDog project"

[2021-10-01 21:06] SubhayanDas08 opened #48 "Add in documentation to To-do webpage project"

[2021-10-01 21:08] nishant-giri commented on #33
I've made the required changes.

[2021-10-01 21:09] #33 closed

[2021-10-01 21:12] SubhayanDas08 opened #50 "Add in CONTRIBUTING.md to URL Minifier project"

[2021-10-01 21:13] SubhayanDas08 opened #51 "Add in CONTRIBUTING.md to Weather App project"

[2021-10-01 21:14] SubhayanDas08 opened #52 "Add in documentation to grocery_list project"

[2021-10-01 21:16] nishant-giri commented on #36
I've made the required changes.

[2021-10-01 21:16] #36 closed

[2021-10-01 21:17] SubhayanDas08 opened #54 "Add in documentation to javascript-quiz-main project"
Also change the name of the project to a more project like name

[2021-10-01 21:18] SubhayanDas08 opened #55 "Add in CONTRIBUTING.md to text-utils-master project"
Change the project name to a more project like name.

[2021-10-01 22:28] #52 closed

[2021-10-02 02:37] ayasahmad63 commented on #51
I am working on it

[2021-10-02 02:37] ayasahmad63 commented on #51
pls assign this task to me

[2021-10-02 02:38] ayasahmad63 commented on #43
I am working on it,pls assign this task to me

[2021-10-02 02:53] #51 closed

[2021-10-02 02:53] #43 closed

[2021-10-02 03:01] ayasahmad63 commented on #40
I am working on it

[2021-10-02 07:56] ItsRoy69 commented on #32
I made a PR for this. Can you assign me for this? PR#61

[2021-10-02 08:01] SubhayanDas08 opened #72 "Add in binarySearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 08:05] SubhayanDas08 opened #73 "Add in exponentialSearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 08:41] bhask4r commented on #41
Done

[2021-10-02 08:50] Sayam06 commented on #72
Can I work on this?

[2021-10-02 09:49] SubhayanDas08 opened #80 "Add in fibonacciSearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 09:56] SubhayanDas08 opened #81 "Add in interpolationSearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 09:56] SubhayanDas08 opened #82 "Add in jumpSearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 09:57] SubhayanDas08 opened #83 "Add in kmpSearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 09:58] SubhayanDas08 opened #84 "Add in linearSearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 09:58] SubhayanDas08 opened #85 "Add in rabinKarpSearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:00] SubhayanDas08 opened #86 "Add in sublistSearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:01] SubhayanDas08 opened #87 "Add in ternarySearch to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:04] SubhayanDas08 opened #88 "Add in ShellSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:04] SubhayanDas08 opened #89 "Add in bubbleSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:05] SubhayanDas08 opened #90 "Add in bucketsort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:06] SubhayanDas08 opened #91 "Add in combSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:06] SubhayanDas08 opened #92 "Add in countingSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:08] SubhayanDas08 opened #93 "Add in cycleSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:09] SubhayanDas08 opened #94 "Add in heapSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:09] SubhayanDas08 opened #95 "Add in insertionSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:10] SubhayanDas08 opened #96 "Add in mergeSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:11] SubhayanDas08 opened #97 "Add in pigeonholeSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:12] SubhayanDas08 opened #99 "Add in quickSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:12] SubhayanDas08 opened #100 "Add in radixSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:13] SubhayanDas08 opened #101 "Add in selectionSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:14] SubhayanDas08 opened #102 "Add in timSort to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 10:31] rakshitweb commented on #99
Can i be assigned in the task?

[2021-10-02 10:53] nishant-giri commented on #90
Kindly assign me this issue.

[2021-10-02 10:54] nishant-giri commented on #97
Kindly assign me this issue.

[2021-10-02 10:57] SubhayanDas08 opened #105 "Add in dijkstra's_algo to Algorithms Hub"
#Proposed Change

Add in the mentioned algorithm to Algorithms Hub in its respective folder.

**Read the CONTRIBUTING.md of Algorithms Hub before contributing**

#Languages that can be used to write the algorithm:
* [x] C++ or C
* [x] Javascript
* [x] Python
* [x] Java
* [x] Golang
* [x] Ruby
* [x] C#

[2021-10-02 11:04] SubhayanDas08 opened #106 "Typo Error in Health App Project Name"
**Describe the bug**
Correct the project name

[2021-10-02 11:11] mayankjain25 commented on #89
Can this task be assigned to me?

[2021-10-02 11:11] CodingBlood opened #109 "Add playlist to Music_Player Project"
In this issue, we require you to do as follows

- [x] Create a playlist folder
- [x] Add 5 decent songs to playlist folder

[2021-10-02 11:14] nishant-giri commented on #109
Kindly assign me this issue.

[2021-10-02 11:17] nishant-giri commented on #109
Kindly assign me this task.

[2021-10-02 11:18] nishant-giri commented on #90
Kindly assign me this task.

[2021-10-02 11:23] anikthaku commented on #96
Please assign this issue to me.

[2021-10-02 11:23] anikthaku commented on #101
Please assign this issue to me.

[2021-10-02 11:23] anikthaku commented on #95
Please assign this issue to me.

[2021-10-02 11:25] anikthaku commented on #84
Please assign this issue to me.

[2021-10-02 11:26] shreya0204 commented on #105
Please Assign this to me

[2021-10-02 11:26] shreya0204 commented on #94
Please assign this to me

[2021-10-02 11:27] shreya0204 commented on #87
Please assign this to me

[2021-10-02 11:27] shreya0204 commented on #80
Please assign this to me

[2021-10-02 11:30] shreya0204 commented on #100
Assign this to me!

[2021-10-02 11:32] #40 closed

[2021-10-02 11:32] SaniyaBhargav commented on #81
Please assign this issue to me.

[2021-10-02 11:35] shm-dsgn commented on #73
Can I work on this issue?

[2021-10-02 11:39] SaniyaBhargav commented on #106
Please assign this issue to me.

[2021-10-02 11:45] shreya0204 commented on #93
Please assign this to me!

[2021-10-02 11:45] KarandeepSingh15 commented on #84
I can do this in C++/c or java

[2021-10-02 11:47] KarandeepSingh15 commented on #72
I can do this in C++/C or Java or Python. Please assign it to me

[2021-10-02 11:48] Kriti-K28 opened #113 "Add gradient in Block Manupulation Project"
**We can change the color of block but we want to change / add gradient to our block**

[2021-10-02 11:50] shreya0204 commented on #91
Please assign this to me!

[2021-10-02 11:53] Kriti-K28 opened #116 "Color Change (RGBA) is not working in Block Manupulation Project"

[2021-10-02 11:58] #54 closed

[2021-10-02 12:01] Vikkybliz commented on #106
I want to work on this

[2021-10-02 12:11] innatepanda opened #122 "Add CSS to the bare bones Beginner Javascript Project"
#We need more stylization to the already existing style.css
Screenshots at the time of the issue creation:
![image](https://user-images.githubusercontent.com/61987098/135715298-ebcf9c97-d2d6-4168-b8b3-db3907baab18.png)
![image](https://user-images.githubusercontent.com/61987098/135715331-39fd1a54-ab4b-43af-a5f7-eaa068f87280.png)
![image](https://user-images.githubusercontent.com/61987098/135715418

[2021-10-02 12:11] #116 closed

[2021-10-02 12:16] shreya0204 commented on #82
Assign this to me

[2021-10-02 12:17] SaniyaBhargav commented on #83
Please assign this issue to me.

[2021-10-02 12:18] shm-dsgn commented on #122
Please assign me to this work.

[2021-10-02 12:19] camperjett commented on #122
can I work on this. I'm new to open source.

[2021-10-02 12:21] innatepanda opened #125 "Login feature doesnt work when button pressed after entering email id (Beginner Javascript Quiz)"
**Describe the bug**
Login feature doesnt work when button pressed after entering email id and doesnt take us to the next page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open up index.html in live preview
2. Enter email in text input field
3. Click on login button

After this, the next page, ie homepage.html should be displayed, but that is not the case.

**Expected behavior**
At login

[2021-10-02 12:21] SaniyaBhargav commented on #84
@anikthaku Which language will you be using in this algorithm?

[2021-10-02 12:22] CodingBlood commented on #122
Sorry shm-dsgn commented first , so issue was assigned to him. There are many more issues available you can contribute there🌝

[2021-10-02 12:22] nishant-giri commented on #109
The task has been completed.

[2021-10-02 12:22] #109 closed

[2021-10-02 12:23] anikthaku commented on #84
I can do it in C, C++,  C#, Python or Java

[2021-10-02 12:27] camperjett commented on #125
please assign me to this

[2021-10-02 12:28] innatepanda commented on #125
Assigned to @camperjett

[2021-10-02 12:30] #106 closed

[2021-10-02 12:30] shreya0204 commented on #86
assign this to me

[2021-10-02 12:37] mayankjain25 opened #128 "Add border and styling to the text output area (YourTextSite project)"
# Proposed Change
Add styling to the text output area

# Why is this important
To make sure the text preview is distinctly available

# Which tech stack does it require?
* [x] HTML and CSS
* [x] React.js

# Screenshot where change needs to be done:

![image](https://user-images.githubusercontent.com/81245278/135716524-c846711f-eb01-4ce4-a733-805d8f4f55f1.png)

[2021-10-02 12:41] wh1zk1d commented on #128
Hi, can I work on that?

[2021-10-02 12:41] Thunderbolt9 commented on #95
Please assign this issue to me. I can contribute the code in c++ language.

[2021-10-02 12:44] MaiShantanuHu commented on #89
Please assign me this task, I can do it in C.

[2021-10-02 12:48] Thunderbolt9 commented on #89
please assign me this task, I can contribute the code in Javascript

[2021-10-02 12:48] MuhammadTanveer94 commented on #128
@mayankjain25 could you please assign me this?

[2021-10-02 12:49] MaiShantanuHu commented on #99
Please assign me this task, I can do this in java!

[2021-10-02 12:49] ash8879 commented on #95
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-02 12:51] MuhammadTanveer94 commented on #125
@innatepanda  please assign me this?

[2021-10-02 12:52] ash8879 commented on #96
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-02 12:53] MaiShantanuHu commented on #105
Please assign me this task I can do it in java!

[2021-10-02 12:56] ash8879 commented on #88
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-02 12:56] ash8879 commented on #100
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-02 13:00] ash8879 commented on #99
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-02 13:01] mayankjain25 commented on #128
@MuhammadTanveer94 Since @wh1zk1d asked first, it was assigned to him. Kindly contribute to other open issues for now. Apologies for the inconvenience.

[2021-10-02 13:03] MaiShantanuHu commented on #101
Please assign me this task, I can do it in Java!

[2021-10-02 13:04] ash8879 commented on #84
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-02 13:06] ash8879 commented on #89
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-02 13:06] MaiShantanuHu commented on #82
Please assign me this task, I can do it in java and cpp!

[2021-10-02 13:07] camperjett commented on #125
@innatepanda I have fixed the issue. In continuation, I have found a few more issue(s) in Beginner Javascript Quiz directory. Should I fix them too?

[2021-10-02 13:24] wh1zk1d commented on #128
@mayankjain25 I created a PR (#137), could you please check it?

[2021-10-02 13:35] innatepanda commented on #125
@camperjett Push it first, so the issue is closed. You may proceed then. Mention the problems so I may create issues for the same.

@MuhammadTanveer94 I'm afraid this issue has been solved already.

[2021-10-02 13:35] camperjett commented on #125
I pushed the changes

[2021-10-02 13:39] innatepanda commented on #125
Thanks to @camperjett for solving this issue. This is now closed.

[2021-10-02 13:39] #125 closed

[2021-10-02 14:02] shm-dsgn commented on #85
Please assign me to this issue.

[2021-10-02 14:36] arnab8335 commented on #47
Added All.

[2021-10-02 14:36] #47 closed

[2021-10-02 14:53] shm-dsgn commented on #92
Please assign me to this issue.

[2021-10-02 14:55] arnab8335 commented on #39
Added

[2021-10-02 14:55] #39 closed

[2021-10-02 15:01] arnab8335 opened #145 "Add Favicon and sufficient padding to the website."
**Describe the bug**
The website is a bit shaggy , add a good favicon and improve padding to the website

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Addi

[2021-10-02 15:02] arnab8335 opened #146 "Improve the CSS of the website to make it look more attractive."
**Describe the bug**
Improve the CSS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2021-10-02 15:02] #128 closed

[2021-10-02 15:11] arnab8335 commented on #85
Can I contribute?

[2021-10-02 15:12] ayshi028 opened #147 "Improve the carousel section and make CSS changes where required in TinDog Project"
**Describe the bug**
Improve the carousel section and make CSS changes where required in TinDog Project

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Addit

[2021-10-02 15:14] ayshi028 opened #148 "Improve the cards in the pricing section and add favicon related to the website"
**Describe the bug**
Improve the cards in the pricing section and add favicon related to the website
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additiona

[2021-10-02 15:29] riyasai22 commented on #146
I would like to contribute to this issue @arnab8335
Kindly assign me this issue!

[2021-10-02 15:34] arnab8335 commented on #146
Go on work on it.

[2021-10-02 16:08] sharonib-ed commented on #72
Kindly assign me this task

[2021-10-02 16:09] wishsagarks commented on #147
i will like to solve this issue ,please assign this to me

[2021-10-02 16:10] wishsagarks commented on #35
i will like to take this issue ,kindly assign this to me

[2021-10-02 16:11] sharonibose commented on #72
Can I be assigned this task in cpp?

[2021-10-02 16:58] nishant-giri commented on #90
Added code for Bucket Sort algorithm in C.

[2021-10-02 17:19] Colinmyers1 commented on #148
I can take this, which project is it for? Thanks!

[2021-10-02 17:26] bhaveshgoyal182 commented on #148
Hey @ayshi028 ,
I would love to add the favicon, please assign this issue to me .

[2021-10-02 17:27] bhaveshgoyal182 commented on #145
Hey @arnab8335 ,
I would love to fix this issue, please assign it to me.

[2021-10-02 17:29] bhaveshgoyal182 commented on #113
Hey @Kriti-K28 ,
I would love to fix this issue, please assign this issue to me.

[2021-10-02 18:03] arnab8335 commented on #148
Hey @bhaveshgoyal182 please don't be disheartned you will get another chance but till then keep on contributing.
And @Colinmyers1 contribute the needful.

[2021-10-02 18:15] Colinmyers1 commented on #148
Let me know what you think @arnab8335

[2021-10-02 18:16] tamal-kundu commented on #102
hi i can work on this issue..can u please assign me?

[2021-10-02 18:47] ash8879 commented on #102
Can u Please assign me this issue I can write the timsort algorithm in C language.

[2021-10-02 18:51] ash8879 commented on #38
Hello, can u please assign me this work I can make your Documentation of Dice game project which will look great.

[2021-10-02 18:53] ash8879 commented on #35
Can u please assign this task to me I can make your documentation which will be super cool.

[2021-10-02 18:55] ash8879 commented on #90
Can u please assign me this task I can write this code in all language.

[2021-10-02 18:57] ash8879 commented on #83
can u please assign this to me I can add code for the remaining all languages.

[2021-10-02 18:58] ash8879 commented on #97
can u please assign this to me I can add code for all languages.

[2021-10-02 18:58] ash8879 commented on #105
can u please assign this to me I can add code for all languages.

[2021-10-02 18:59] ash8879 commented on #94
can u please assign this to me I can add code for all languages.

[2021-10-02 18:59] ash8879 commented on #86
can u please assign this to me I can add code for all languages.

[2021-10-02 19:00] ash8879 commented on #93
can u please assign this to me I can add code for all languages.

[2021-10-02 19:00] ash8879 commented on #91
can u please assign this to me I can add code for all languages.

[2021-10-02 19:08] nishant-giri commented on #97
@ash8879, I've assigned you the task. Try uploading the codes for the algorithm in the mentioned languages except C++.

[2021-10-02 20:36] AtigPurohit opened #176 "Improve the UI"
Improve the UI of the app.

[2021-10-02 20:42] AtigPurohit opened #177 "Improve the readme for the Dice game app"

[2021-10-02 20:48] AtigPurohit opened #178 "Add animation in the Dice Game app"
Add a animation when the "Roll" button is tapped, a proper animation that will show that the dice is rolled.

[2021-10-02 21:15] AtigPurohit commented on #38
This issue is already dealt with. You can find a similar issue where you've to improve the readme, you can work on it.

[2021-10-02 21:15] #38 closed

[2021-10-02 21:18] rajv2911 commented on #177
Please assign this work to me.

[2021-10-02 21:25] AtigPurohit opened #180 "Add a second dice"
Add a second dice in the dice game project. If the number on the two dice matches then show a toast.

[2021-10-02 21:57] Rishab-kumar2001 commented on #177
please assign this task to me, I can really give you a good readme file.

[2021-10-03 03:42] SoundaryaKhanapur commented on #80
I'd like to do this in JavaScript. May I proceed ?

[2021-10-03 04:21] divyansh1511 commented on #96
can u please assign this issue to me. I can contribute in cpp.
@shreya0204

[2021-10-03 04:23] divyansh1511 commented on #105
can u please assign this to me...I can code in cpp.

[2021-10-03 04:26] divyansh1511 commented on #101
can u please assign this issue to me .... I can do it in cpp.
@SaniyaBhargav

[2021-10-03 04:29] SaniyaBhargav commented on #101
@divyansh1511 It's already been assigned to someone else
In case he's unable to do it, I'll be re-assigning it to the person next in line.

[2021-10-03 04:44] anikthaku commented on #101
I have added selection sort in C only because C++ and Python codes were already there.

[2021-10-03 05:19] nishant-giri commented on #72
Kindly assign me this task for Python.

[2021-10-03 06:20] shivanisinghnitp commented on #80
Please assign this to me

[2021-10-03 06:28] ash8879 commented on #84
Can u please assign me this task i can write code in java of Linear search Algorithm.

[2021-10-03 07:13] nishant-giri opened #189 "Add Code for 7 Segment Display"
## Changes Required
Add code for 7 Segment Display in Java or Python.
Refer to the C++ code and README.md of 7 Segment Display before contributing.

## Programming Language
* [x] Java
* [x] Python

[2021-10-03 07:32] sumitkumarju commented on #189
Hey, i can work on this issue.Please assign it to me

[2021-10-03 07:39] nishant-giri commented on #189
@sumitkumarju, I've assigned you the task.

[2021-10-03 07:45] mayankjain25 opened #191 "Add in a ROT13 functionality to YourTextSite project"
# Proposed Change

ROT13 is an encryption mechanism that changes every letter to the letter 13 places after it. Implement a similar functionality in the mentioned project.

# Expected Output

There are different buttons for performing different actions in the project. You are expected to create a new button which when clicked will perform ROT13 on the input text

[2021-10-03 07:57] ananya0504 commented on #178
Hi, I would love to contribute to this issue! Please assign it to me?

[2021-10-03 08:03] AtigPurohit commented on #178
Sure!! All the best.

[2021-10-03 08:05] SaniyaBhargav opened #192 "Add edit task functionality to [To-do Webpage]"
#Proposed Change
Add an edit functionality to the To-do webpage. With this functionality, the user should be able to edit the entered task, instead of deleting it and making a new task.

[2021-10-03 08:05] SaniyaBhargav opened #193 "Add edit task functionality to [To-do Webpage]"
#Proposed Change
Add an edit functionality to the To-do webpage. With this functionality, the user should be able to edit the entered task, instead of deleting it and making a new task.

[2021-10-03 08:07] #193 closed

[2021-10-03 08:08] SaniyaBhargav opened #194 "Add a functionality of adding new task by pressing Enter [To-do Webpage]"
#Proposed Change
Functionality needs to be added where pressing the enter key adds a new task.

[2021-10-03 08:10] SaniyaBhargav opened #195 "Improve the CSS styling of the scoreboard [Rock Paper Scissors Game]"
#Proposed Change
Improve the CSS styling of the scoreboard in the game.

[2021-10-03 08:13] SaniyaBhargav opened #196 "Improve the result message [Rock Paper Scissors Game]"
#Proposed Change
Improve the result message in the game, that is, You win, you lost or game drawn message. If necessary, add styling to it.

[2021-10-03 08:17] AmanRana10 commented on #195
i can work on it

[2021-10-03 08:19] bipinparajuli commented on #196
Can you please assign this issue to me, love to work on it.

[2021-10-03 08:46] AmanRana10 commented on #195
@SaniyaBhargav can i work on it?

[2021-10-03 09:19] #46 closed

[2021-10-03 09:20] #48 closed

[2021-10-03 09:27] daksh4469 commented on #194
Can you assign this issue to me? I would like to work on it.

[2021-10-03 10:01] mayankjain25 opened #206 "Add in a button to make the text input and text output bold [YourTextSite project]"
# Proposed Change

Add in a small 'B' button, which when clicked, will make the text input and output **bold**

# Which tech stack does it require?
* [ ] HTML & CSS

Include screenshots

[2021-10-03 10:04] ayush523 commented on #105
Hi.I have coded it in python.

[2021-10-03 10:39] daksh4469 commented on #194
Please review the PR #209 @SaniyaBhargav.

[2021-10-03 10:42] moazfarrukh commented on #206
can this be assigned to me?

[2021-10-03 10:43] SaniyaBhargav commented on #195
@AmanRana10 Kindly make the required edits in the documentation as well.

[2021-10-03 10:59] daksh4469 commented on #194
Please review the PR #213 @SaniyaBhargav.

[2021-10-03 11:01] Thunderbolt9 commented on #206
please assign this issue to me. I have created multiple projects using HTML and CSS. Also, this will give me some experience in open source.

[2021-10-03 11:03] sumitkumarju commented on #192
Hey can you assign me this task

[2021-10-03 11:15] sumitkumarju commented on #191
Hey Can I work on this?

[2021-10-03 11:26] divyansh1511 commented on #105
@nishant-giri I made the PR (i.e #214) you can merge the PR.

[2021-10-03 11:37] #194 closed

[2021-10-03 12:23] shreya0204 opened #216 "Add Responsiveness in Scientific-Calculator Project"
**Describe the bug**

In the scientific calculator project add mobile-friendly responsiveness.

[2021-10-03 13:06] AmanRana10 commented on #195
So I have to update the readme.md of rock paper scissor folder with the changes I made in css styling ? @SaniyaBhargav

[2021-10-03 13:17] AtigPurohit commented on #177
Closing this issue.

[2021-10-03 13:17] #177 closed

[2021-10-03 13:23] ritwik3856 commented on #216
i can improve the interface & also make it responsive . please assign this to me!!!

[2021-10-03 13:27] SaniyaBhargav commented on #195
Yes @AmanRana10

[2021-10-03 13:30] ritwik3856 commented on #196
can you assign me this i can improve the UI in much better way. Looking forward to contribute.

[2021-10-03 13:32] #55 closed

[2021-10-03 13:38] deepak-chouhan commented on #216
Hey, Can you assign this to me please

[2021-10-03 13:39] shreya0204 commented on #216
@ritwik3856 okay go ahead.

[2021-10-03 13:41] shreya0204 commented on #216
Ritwik is working on the issue. If there isn't any response from his side within 14 days you can take up the issue.

[2021-10-03 13:44] RahulRudra81 commented on #206
Hi can you assign this to me i can do this in much better way and i have done many project related to html css and javascript.Also i can improve the css part

[2021-10-03 13:45] SaniyaBhargav commented on #196
@ritwik3856 I have already assigned this issue to someone. In case of inactivity from his side, I'll assign it to you.

[2021-10-03 13:47] RahulRudra81 commented on #192
can i help you with this one i will be greatful if you assign this to me

[2021-10-03 13:48] bipinparajuli commented on #196
@SaniyaBhargav would you please check PR

[2021-10-03 13:48] RahulRudra81 commented on #191
hey i really wanna work on this ..can you please assign this to me

[2021-10-03 14:01] moazfarrukh commented on #206
done #219 awaiting review

[2021-10-03 14:05] ritwik3856 commented on #216
You won’t need to wait for long just give me 24 hr 😌.

[2021-10-03 14:05] shreya0204 commented on #73
I will add code for the algo in js and c++ assign this to me!

[2021-10-03 14:06] AmanRana10 commented on #195
opened a pull request for the update @SaniyaBhargav

[2021-10-03 14:22] #206 closed

[2021-10-03 14:27] Sidd1121 commented on #105
I am a beginner open source enthusiast, please consider me for future issues

[2021-10-03 14:28] sharonibose commented on #97
Kindly assign me this task in c

[2021-10-03 14:38] SaniyaBhargav commented on #192
@RahulRudra81 Right now, the task has been assigned to someone else. In case of their inactivity, I'll be assigning it to you.

[2021-10-03 14:46] wishsagarks commented on #113
i will also like to fix the issue ,please assign me for the same

[2021-10-03 14:48] wishsagarks commented on #176
i will like to take the issue and improve the ui for the issue #176

[2021-10-03 14:59] ash8879 commented on #84
I can code in PHP, Java, and javascript can u assign me.

[2021-10-03 15:01] shreya0204 commented on #216
Amazing ^_^

[2021-10-03 15:05] shreya0204 opened #223 "Improve UI of Scientific-Calculator Project."
**Describe the bug**
You have to improve the UI of the project, use a better palette, and if possible try to add some transitions on button click.

[2021-10-03 15:05] bhask4r opened #224 "Several Deprecated Packages in Pubspec.yaml needs to be upgraded in KnowU Personality Test App."
Would be nice if all the deprecated packages are fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'lib folder in KnowU Persoanlity App'
2. Click on 'pubspec.yaml'
3. Update every package to newer one.
4. Make sure building the app does not make any errors.

**Expected behavior**
The app should run without any errors with latest packages.

[2021-10-03 15:09] bhask4r opened #225 "Name non-constant identifiers using lowerCamelCase and other dart warnings in the project in KnowU Personality Test App."
Simple refactoring issues for beginners to fix.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'lib folder'
2. Go through every dart file
3. Check for every dart related warning.
4. Build and run project to check if it works correctly.

[2021-10-03 15:16] bhask4r opened #227 "Share your personality type result in the app in KnowU Personality Test App."
It would be great to share your results in the app itself to enable rest of the users to check and see other people having same results as themselves.

I would like the usage of firebase to make this feature if possible.

Any other database solution would work like MongoDB, SQl, Django whatever is best for flutter apps.

It should be like getting your results and sharing it to the world after subm

[2021-10-03 15:23] AtigPurohit commented on #176
Sure!! All the best!

[2021-10-03 15:32] ritwik3856 commented on #196
@SaniyaBhargav but i would like to work on the whole UI i will make it much better let me do try it once

[2021-10-03 15:41] wishsagarks commented on #223
i will like to work on the issue #223

[2021-10-03 15:51] sailahonkanen commented on #225
I would like to do this. Assign me please.

[2021-10-03 15:52] arnab8335 commented on #85
Accepted

[2021-10-03 16:04] #147 closed

[2021-10-03 16:05] SubhayanDas08 commented on #35
G

[2021-10-03 16:08] #35 closed

[2021-10-03 16:12] SubhayanDas08 opened #232 "Change background in Calculator"
#Proposed Change

Change the background of the Calculator

#Which tech stack does it require?

* [x] Javascript
* [x] HTML and CSS

#Additional Context

[2021-10-03 16:16] kunal-umap commented on #232
I Want to work on this , Would you please assign me this ?

[2021-10-03 16:16] HVbajoria commented on #232
Is it the calculator repository ? If yes can you assign me this issue. I can add a gradient background to it.

[2021-10-03 16:27] wishsagarks commented on #232
i will like to work on issue as i have prior knowledge

[2021-10-03 17:03] HVbajoria commented on #232
Hello @SubhayanDas08  sorry I am new to GitHub so don't know how to accept the pr.
I have made a pull request to solve this issue and have added an extra feature.
Could you please check and it would be really grateful if you could just guide me how to accept pr for future.
Thank you.

[2021-10-03 17:38] ash8879 commented on #99
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-03 17:40] ash8879 commented on #96
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-03 17:41] ash8879 commented on #91
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-03 17:41] ash8879 commented on #86
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-03 17:43] ash8879 commented on #86
Please assign this issue to me. I can contribute the code in C, C++, Python, and Java language.

[2021-10-03 18:00] mk1107 commented on #225
Hi, can I work on this issue?

[2021-10-03 18:01] mk1107 commented on #227
Hi, can you describe in detail what we need to do? I have knowledge about flutter and willing to work

[2021-10-03 18:02] mk1107 commented on #224
Hi, Can you assign this task to me

[2021-10-03 18:09] AnirbanBall opened #241 "Position X Y not working in Block-Manipulation project"
# Position X and Position Y not working in Block- Manipulation Project

<img width="860" alt="bugissue" src="https://user-images.githubusercontent.com/72156677/135766019-8d727ebf-23c9-4398-9755-c66f7c041e77.png">

In the screenshot you can see if you move them ,the object doesn't move .So You have to work on the  code to make the object move with the help of position X and position Y  .

[2021-10-03 18:32] ritwik3856 commented on #241
i can solve this issue in less time please assign me and can you label this issue as hacktoberfest

[2021-10-03 21:29] #232 closed

[2021-10-03 21:52] Rishab-kumar2001 commented on #180
please assign me this task!

[2021-10-03 21:53] AtigPurohit commented on #180
Okay! assigning this to you!! All the best.

[2021-10-03 23:16] Colinmyers1 commented on #148
I think this issue can be closed

[2021-10-04 03:49] mayankjain25 opened #249 "Add Favicon to YourTextSite project"
Add Favicon to YourTextSite project.

[2021-10-04 03:51] Prakarsh-Kaushik commented on #249
Can you assign this to me? and specify the type of favicon you need?

[2021-10-04 03:53] mayankjain25 opened #250 "Improve the functionality and styling of 'Find Occurrence' button in YourTextSite project"
# Proposed Change

The 'Find Occurrence' button finds the number of occurrences of a particular word in the input text. For doing so, when it is clicked, it triggers a JavaScript `prompt` which then asks the user to enter a word. Once entered, the result is displayed as a Bootstrap `alert` component and remains on the screen for a few seconds before disappearing.

Improve this functionality.

Incl

[2021-10-04 03:58] mayankjain25 commented on #249
This is a text based project, meaning it applies some formatting to the input text. The current favicon is the default 'React' logo, so kindly add a favicon that is more on the lines of something text based, for instance, pen&paper, text on paper (or anything that satisfies your creativity).

[2021-10-04 04:10] Hussain6 commented on #249
Can you assign this to me?

[2021-10-04 04:29] ritwik3856 commented on #250
can you assign me this i can do it

[2021-10-04 04:53] ritwik3856 commented on #241
@AnirbanBall @spandan1460 i can fix the bug can you assign me

[2021-10-04 04:54] AnirbanBall commented on #241
@SubhayanDas08 do add the tags in this issue

[2021-10-04 04:57] arnab8335 commented on #227
@bhask4r explain him what needs to be done and kindly assign him.

[2021-10-04 05:02] innatepanda commented on #122
@shm-dsgn Hi. Please create atleast one pr by tuesday midnight and don't forget to pull the recent changes. If no pr is received by tuesday midnight IST, we'll reopen this issue.

[2021-10-04 05:05] shm-dsgn commented on #122
@innatepanda yes. Sorry for the delay. I have an exam today. Will do a PR by today only before midnight.

[2021-10-04 05:51] innatepanda commented on #122
@shm-dsgn It's quite alright. No need to rush.

[2021-10-04 05:54] #249 closed

[2021-10-04 06:14] divyansh1511 commented on #96
I made the PR can u merge...

[2021-10-04 06:17] samyakjain26 commented on #224
Hello, Can you assign this issue to me

[2021-10-04 06:41] #223 closed

[2021-10-04 07:53] daksh4469 opened #263 "Block Manipulation: Functionality to change X and Y coordinates not working"
**Describe the bug**
The functionality to modify the X and Y coordinate of the block in the Block-Manipulation project is not working currently.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to './Block-Manipulation'
2. Try dragging the range input of the X and Y coordinates.
4. See error

**Expected behavior**

https://user-images.githubusercontent.com/60084414/135813764-a5baa7bc-d6ea-

[2021-10-04 07:55] daksh4469 commented on #263
Can someone add the required labels to this issue and assign this to me? I have already fixed this locally.

[2021-10-04 08:12] mayankjain25 commented on #191
If @sumitkumarju stays inactive, it will be assigned to you, @RahulRudra81

[2021-10-04 08:51] HitIt007 commented on #100
i can contribute in c please assign me this

[2021-10-04 10:28] akashchouhan16 commented on #50
`Issue` Resolved. PR #264

[2021-10-04 10:28] #50 closed

[2021-10-04 13:14] kavya2008 commented on #250
i want to work with it. can u assign it to me

[2021-10-04 14:34] mk1107 commented on #224
Hi, made a PR #245  please merge it.

[2021-10-04 14:34] mk1107 commented on #91
Hi, made a PR #245  please merge it.

[2021-10-04 15:25] ayshi028 commented on #241
@ritwik3856 the issue is assigned to you. Kindly do the needful

[2021-10-04 15:27] AnirbanBall commented on #241
@ritwik3856 go for it

[2021-10-04 15:28] ritwik3856 commented on #241
ok bro thanks for your help @AnirbanBall

[2021-10-04 15:35] ayshi028 commented on #263
@daksh4469 assigned. Work on it.

[2021-10-04 15:41] daksh4469 commented on #263
Review the pull request #268. Hope it works.

[2021-10-04 15:43] ayshi028 opened #269 "Improve the footer section and make the look and feel of the cards in the pricing section the best you can in the TinDog website"
**Describe the bug**
Improve the footer section and make the look and feel of the cards in the pricing section the best you can

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explai

[2021-10-04 15:43] AnirbanBall commented on #263
@ayshi028 This issue already made u can refer https://github.com/MSCKIIT/MSCxHacktoberfest/issues/241 .So this issue should be closed

[2021-10-04 15:45] daksh4469 commented on #263
So should I transfer the pull request referencing it to the original issue?

[2021-10-04 15:47] daksh4469 commented on #263
Alright. Can you make an issue regarding this and assign it to me?

[2021-10-04 15:52] AnirbanBall commented on #263
So u have to close the pull request
If the one assigned wont be able to do that we can ping u

[2021-10-04 15:53] AnirbanBall commented on #263
before filing issues check if anyone has already made

[2021-10-04 15:55] daksh4469 commented on #263
Sure.

I closed the pull request. I will work on the UI and make a pull request for the same. Can you mention which issue should I reference in my following pull request regarding the UI?

[2021-10-04 15:58] AnirbanBall commented on #263
You create a new issue like improving the Ui of block manipulation project . no one has done on it

First create issue then work on it.

[2021-10-04 16:01] daksh4469 commented on #263
Okay

[2021-10-04 16:03] daksh4469 opened #270 "Improve the UI of the Block Manipulation project"
**Is your feature request related to a problem? Please describe.**
The UI of the Block Manipulation project needs improving.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other co

[2021-10-04 16:05] daksh4469 commented on #263
@AnirbanBall I have created an issue for this #270. Can you add related labels and assign that to me?

[2021-10-04 16:10] AnirbanBall commented on #263
tag ayshi028 mam on that post

[2021-10-04 16:13] daksh4469 commented on #270
@ayshi028 Can you please add the required labels to this issue and assign this to me?

[2021-10-04 17:04] ritwik3856 commented on #241
@AnirbanBall @ayshi028  have a look and let me know.

[2021-10-04 17:11] ritwik3856 commented on #250
@kavya2008 if you want to work you can take this issue. Currently i am working on some other issues. Do let me know i will unassign me.

[2021-10-04 17:14] bhask4r commented on #227
@mk1107 Hello, See the idea is, when a user give the test and is able to see his result let us say the result was "INTJ" and all other details about INTJ is shown on the screen.
You can see there is a button at the bottom above which a text says "Share your results on our page." so that is basically a feature I wanted to add but still haven't yet, so if you understood what needs to be done let me

[2021-10-04 17:16] mk1107 commented on #227
Yea I understood that but for it I would require a database where things will be uploaded
For that I would need some access to firebase or so ..

[2021-10-04 17:17] bhask4r commented on #227
Yeah sure if you want to work with firebase I can give you the access, tell me your email address.

[2021-10-04 17:18] mk1107 commented on #227
So u have storage in your firbase??

[2021-10-04 17:22] #224 closed

[2021-10-04 17:27] #225 closed

[2021-10-04 17:28] bhask4r commented on #227
isn't storing strings part is free?

[2021-10-04 17:48] mk1107 commented on #227
u need to create a database so it is going to store which will require space so..

[2021-10-05 03:15] deepak-chouhan commented on #269
Please assign this to me

[2021-10-05 04:28] #263 closed

[2021-10-05 04:29] innatepanda commented on #122
Open again.

[2021-10-05 04:44] innatepanda opened #274 "Clicking on "ok" button on error alert takes user to next page"
**Beginner Javascript Quiz**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to index.html
2. Do not enter anything in the input fields
3. Click on login. Alert opens up, click on ok
4. Next page "homepage.html:" is displayed

**Expected behavior**
Clicking ok button on alert should only remove the alert, not take the user to next page.

**Screenshots**
![image](https://user-images.github

[2021-10-05 04:57] AmanRana10 commented on #274
I can work on this issue.

[2021-10-05 05:16] innatepanda opened #276 "Remove password field in Beginner Javascript Quiz"
#Proposed Change
Password field is not necessary since we do not have an user database.

#Which tech stack does it require?
* [ ] C++ or C
* [x] Javascript
* [ ] Python
* [ ] Node.js
* [ ] Golang
* [ ] React.js
* [ ] Ruby
* [ ] C#
* [ ] Dart
* [x] HTML and CSS

[2021-10-05 05:33] kavya2008 commented on #250
Yes i will work on it

On Mon, Oct 4, 2021, 10:42 PM Ritwik Rudra ***@***.***> wrote:

[2021-10-05 05:33] kavya2008 commented on #250
Yes i will @ritwik3856

[2021-10-05 05:48] ShivamChoudhary17 commented on #276
Does I have to remove Password field  in Script.js?

[2021-10-05 05:58] shikhar13012001 commented on #276
Can I work on this ?

[2021-10-05 06:08] mayankjain25 commented on #250
@kavya2008 Assigned to you

[2021-10-05 06:13] ShivamChoudhary17 opened #277 "I Would like to add a Flutter App with Source code and detail explanation"
Hi,
I Would like to add a Flutter News App with Source code and detail explanation,
App Contains different sections to search news or you can tap on any(national, trending, world, politics, spots, health, automobiles and start-ups) to see full list of news on the home page it basically shows trending news in List View with horizontal scroll direction and All(India) news in vertical scroll directio

[2021-10-05 06:27] ayush523 commented on #87
Hi.I have added ternary search program in java.

[2021-10-05 06:39] adisin361 commented on #72
Can you assign this to me @SubhayanDas08

[2021-10-05 06:48] deepak-chouhan commented on #269
thanks

[2021-10-05 06:51] ujju20 commented on #276
Can you please assign me this issue I want to work on this

[2021-10-05 06:57] ujju20 opened #280 "Tic-Tac-Toe Game"
# Proposed Change
I want to add a famous Game Tic-Tac-Toe which two contains two modes, one is a two-player mode in which two players can play against each other and the other is one player game in which the player competes against the unbeatable bot.

#Why is this important

#Which tech stack does it require?
* [ ] C++ or C
* [x] Javascript
* [ ] Python
* [ ] Node.js
* [ ] Golang
* [ ] React.js
*

[2021-10-05 06:57] ujju20 commented on #280
Please Assign me this issue.

[2021-10-05 07:00] deepak-chouhan commented on #269
Hey I worked on the price card and footer:
- I have highlighted the most popular card, I have added shadow and changed the color of card
- I have also fixed Fixed some glitches which were visible due to border in cards

- Changed the background of footer section
- Changed the color of icons and font

![price-section](https://user-images.githubusercontent.com/69458937/135974650-78b948d3-cd28-485a-b

[2021-10-05 07:04] ayush523 commented on #88
I have added shell sort program in JavaScript.

[2021-10-05 07:15] Simranverma123 commented on #86
Kindly assign me this task in C.

[2021-10-05 07:16] SubhayanDas08 commented on #280
Done

[2021-10-05 07:23] nishant-giri commented on #86
@ash8879, you've previous open issues too. Kindly complete them first.

[2021-10-05 07:27] ritwik3856 commented on #250
Best of luck if you face any issue you can contact me

[2021-10-05 07:27] adisin361 commented on #90
Kindly assign this task to me @SubhayanDas08

[2021-10-05 07:31] innatepanda commented on #276
@ShivamChoudhary17 We do not need the password input field nor do we want to have any ties with it. You'll have to remove every instance of it's usage and modify the code.

[2021-10-05 07:38] innatepanda commented on #227
@mk1107 Upto a certain limit, storing in firebase is free for all.

[2021-10-05 08:20] kavya2008 commented on #250
Sure,I will do that.
thankyou

On Tue, Oct 5, 2021 at 12:57 PM Ritwik Rudra ***@***.***>
wrote:

[2021-10-05 10:21] ayush523 commented on #92
Hi.I have added count sort code in C#.

[2021-10-05 11:07] CodingBlood opened #291 "Music_Player enhancements"
- [ ] Add Contributors.md to Music_Player Projects
- [ ] Reorder Buttons to Play->Pause->Resume->Stop
- [ ] Change Color of Resume button to Green

[2021-10-05 11:07] eshaananand commented on #291
Please assign me this issue.

[2021-10-05 11:18] eshaananand opened #293 "Health App - Feature Request"
- [ ] adding more 5 second interval time between two alarms.
- [ ] adding contributor.md file

[2021-10-05 11:19] CodingBlood commented on #293
assign me this issue

[2021-10-05 12:37] TanmayBhosale opened #295 "I would like to add a Twitter clone"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add a full-stack twitter clone powered by react and django

**Describe alternatives you've considered**

**Additional context**

[2021-10-05 12:51] #274 closed

[2021-10-05 13:22] #216 closed

[2021-10-05 14:11] nishant-giri commented on #92
@ayush523, thank you for your contribution. We will review your changes soon.

[2021-10-05 14:13] Simranverma123 commented on #92
Kindly assign me this task in C.

[2021-10-05 14:35] vivekarora-02 commented on #295
Hey there,
I would like to contribute towards this issue. Can ypu please assign me this issue?

ThankYou!

[2021-10-05 15:05] #291 closed

[2021-10-05 15:10] bhask4r commented on #227
Yes exactly.

[2021-10-05 15:44] SaniyaBhargav opened #299 "Modify code to increase win percentage [Rock Paper Scissors Game]"
#Proposed Change

Make some modifications in the code algorithm to increase the win percentage for the user.

[2021-10-05 15:51] Geek-Tekina commented on #90
Can you assign me this task , i will code in cpp.

[2021-10-06 04:46] #295 closed

[2021-10-06 05:44] samarthraj11 commented on #299
hey, I would like to work on this ..

[2021-10-06 12:52] ItsRoy69 opened #315 "Is this repo been excluded from hacktoberfest?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2021-10-06 13:58] #189 closed

[2021-10-06 14:00] #97 closed

[2021-10-06 14:00] #90 closed

[2021-10-06 14:01] #105 closed

[2021-10-06 14:17] mk1107 commented on #315
![image](https://user-images.githubusercontent.com/55909616/136221085-eacddf57-9968-4283-99b4-fc82fb739916.png)
I am also getting this error

[2021-10-06 14:20] m1ga commented on #315
thats a different repo by the name but yes: sounds like a repo made just for Hacktoberfest to get free swag :smile:

[2021-10-06 14:44] mk1107 commented on #315
But here I added many things like the flutter app

[2021-10-06 15:57] moazfarrukh commented on #315
![image](https://user-images.githubusercontent.com/21291203/136239966-a8cc87c1-9dfe-4f34-bf57-2c2fef834e9a.png)
i am also getting this i am sure this is the same repo . As i am being shown as a contributor here

[2021-10-06 17:29] m1ga commented on #315
@mk1107 which is good and perhaps it helps people. But it just doesn't count as a contribution to hacktoberfest because repos with just list of random projects (like "add your project" or "add a search in a programming language") popping up all over github at the moment. Those are the rules this year.
Just find a different project that is not just a list of stuff or that was created 5 days ago wit

[2021-10-06 17:37] m1ga commented on #315
So the person who uses that code later on see less errors, nice :+1: So you should be happy.
Just do more of that in different projects and you should be fine.

[2021-10-08 04:25] #315 closed